/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Contact.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
p{
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  font-size: 14px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
#message{
  padding-bottom: 35px;
}
.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: sta;
  align-items: center;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}


.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}
/* From Uiverse.io by 0xnihilism */ 
.input__container {
  position: relative;
  background: #f0f0f0;
  padding: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 4px solid #000;
  width: 500px;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-10deg);
  perspective: 1000px;
  box-shadow: 10px 10px 0 #000;
}

.input__container:hover {
  transform: rotateX(5deg) rotateY(1 deg) scale(1.05);
  box-shadow: 25px 25px 0 -5px #F3CBA5, 25px 25px 0 0 #000;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translateZ(-50px);
  background: linear-gradient(
    45deg,
    rgba(255, 107, 107, 0.4) 0%,
    rgba(255, 107, 107, 0.1) 100%
  );
  filter: blur(20px);
}

.input__button__shadow {
  cursor: pointer;
  border: 3px solid #000;
  background: #F3CBA5;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transform: translateZ(20px);
  position: relative;
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
}

.input__button__shadow:hover {
  background: #fff;
  transform: translateZ(10px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

.input__button__shadow svg {
  fill: #000;
  width: 25px;
  height: 25px;
}

.input__search {
  width: 500px;
  outline: none;
  border: 3px solid #000;
  padding: 15px;
  font-size: 18px;
  background: #fff;
  color: #000;
  transform: translateZ(10px);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  z-index: 3;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: -0.5px;
}

.input__search::placeholder {
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
}

.input__search:hover,
.input__search:focus {
  background: #f0f0f0;
  transform: translateZ(20px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

.input__container::before {
  content: "EMAIL";
  position: absolute;
  top: -15px;
  left: 20px;
  background: #F3CBA5;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  transform: translateZ(50px);
  z-index: 4;
  border: 2px solid #000;
}
.name::before,.phone::before {
  content: "NAME";
  position: absolute;
  top: -15px;
  left: 20px;
  background: #F3CBA5;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  transform: translateZ(50px);
  z-index: 4;
  border: 2px solid #000;
}
.phone::before {
  content: "NUMBER";
  position: absolute;
  top: -15px;
  left: 20px;
  background: #F3CBA5;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  transform: translateZ(50px);
  z-index: 4;
  border: 2px solid #000;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/HeroSection.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'ppneu';
  src: url(/_next/static/media/hu2.77884a81.woff2);
  font-weight: auto;

}

* {
  font-family: 'ppneu' !important;
}

.head {
  font-family: 'ppneu';
}

.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(230, 230, 225, 0.75);
  z-index: 1;
}

.hero-section>* {
  position: relative;
  z-index: 2;
}

button {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 118.02px;
  height: 42.66px;
  border: none;
  background-color: #000;
  display: flex;

  justify-content: center;
  align-items: center;
}


/*   
  button .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  button:hover .span-mother {
    position: absolute;
  }
  
  button:hover .span-mother span {
    transform: translateY(1.2em);
  }
  
  button .span-mother span:nth-child(1) {
    transition: 0.2s;
  }
  
  button .span-mother span:nth-child(2) {
    transition: 0.3s;
  }
  
  button .span-mother span:nth-child(3) {
    transition: 0.4s;
  }
  
  button .span-mother span:nth-child(4) {
    transition: 0.5s;
  }
  
  button .span-mother span:nth-child(5) {
    transition: 0.6s;
  }
  
  button .span-mother span:nth-child(6) {
    transition: 0.7s;
  }
  
  button .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  button .span-mother2 span {
    transform: translateY(0);
  }
  
  button:hover .span-mother2 span {
    transform: translateY(1.8em);
  }
  
  button .span-mother2 span {
    transition: 0.2s;
  }
  
  button .span-mother2 span:nth-child(2) {
    transition: 0.3s;
  }
  
  button .span-mother2 span:nth-child(3) {
    transition: 0.4s;
  }
  
  button .span-mother2 span:nth-child(4) {
    transition: 0.5s;
  }
  
  button .span-mother2 span:nth-child(5) {
    transition: 0.6s;
  }
  
  button .span-mother2 span:nth-child(6) {
    transition: 0.7s;
  }
   */
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Project.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.spinner {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: start;
    border-radius: 50%;
    margin-left: -75px;
  }
  
  .spinner span {
    position: absolute;
    top: 50%;
    left: var(--left);
    width: 35px;
    height: 7px;
    background: #ffff;
    animation: dominos 1s ease infinite;
    box-shadow: 2px 2px 3px 0px black;
  }
  
  .spinner span:nth-child(1) {
    --left: 80px;
    animation-delay: 0.125s;
  }
  
  .spinner span:nth-child(2) {
    --left: 70px;
    animation-delay: 0.3s;
  }
  
  .spinner span:nth-child(3) {
    left: 60px;
    animation-delay: 0.425s;
  }
  
  .spinner span:nth-child(4) {
    animation-delay: 0.54s;
    left: 50px;
  }
  
  .spinner span:nth-child(5) {
    animation-delay: 0.665s;
    left: 40px;
  }
  
  .spinner span:nth-child(6) {
    animation-delay: 0.79s;
    left: 30px;
  }
  
  .spinner span:nth-child(7) {
    animation-delay: 0.915s;
    left: 20px;
  }
  
  .spinner span:nth-child(8) {
    left: 10px;
  }
  
  @keyframes dominos {
    50% {
      opacity: 0.7;
    }
  
    75% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  
    80% {
      opacity: 1;
    }
  }
  
/* From Uiverse.io by andrew-demchenk0 */ 
.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  width: auto;
  
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
/* From Uiverse.io by Li-Deheng */ 
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}

.v_1{
  cursor:  url('https://img.icons8.com/?size=100&id=1lNvYRfjdNUl&format=png&color=000000'),auto;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/services.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loade {
    position: relative;
    width: 96px;
    height: 96px;
    display: flex;
    

    justify-items: end;
    transform: rotate(45deg);
   }
   
   .loade-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loade-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loade-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loade-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loade-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loade-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loade-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loade-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loade-square:nth-of-type(7) {
    animation-delay: -10s;
   }
   /* Scoped styles for the Services component */
.services h3 {
    color: #BBBBAE; /* Initial color of the text */
    opacity: 0.6; /* Make text slightly visible */
    transition: opacity 0.3s ease, color 0.3s ease; /* Smooth transition */
  }
  
  /* Hover effect for individual h3 elements */
  .services .flex-row:hover h3 {
    opacity: 1; /* Fully visible on hover */
    color: #D1D1C7; /* Change text color on hover if needed */
  }
  
  /* Ensure the rest of the layout is unaffected */
  .services .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #BBBBAE;
    padding: 1rem;
  }
  
  .services .flex-row a svg {
    fill: rgb(240, 227, 202);
  }
  
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Skill.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.skills-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .skills2 {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
  }
  
  .icon {
    flex: 0 0 auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  

